 WebScraping Assignment-2 using Selenium-Evaluation.

# Question-1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sumit kaushik\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sumit kaushik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

In [4]:
#opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [5]:
# entering designationn and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page 
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)    
    
# scraping company name from the given page 
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags: 
    company=i.text
    company_name.append(company) 

# scraping job experience from the given page 
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [10]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [11]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10],'Location':job_location[:10],'Company_name':company_name[:10],'Experience':experience_required[:10]})
df

,Title,Location,Company_name,Experience
0,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,6-7 Yrs
1,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,4-6 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
3,AI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,2-6 Yrs
4,GenAI Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,5-6 Yrs
5,Data Scientist II,"Greater Noida, Bengaluru",Honeywell,4-6 Yrs
6,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Agilite Global Solutions,7-8 Yrs
7,Data Analytics-Corporate HR,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tata Communications,3-6 Yrs
8,DS - NLP Expert,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",Genpact,6-11 Yrs
9,Generative AI Data Scientist,"Hyderabad, Gurugram, Bengaluru",Genpact,8-13 Yrs

In [12]:
# to fetcg the url-
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="59491629089d393a55f71f5e4e348417", element="f.D57741530899A4AE49EFA4D4CCD13E2F.d.9DD19428765F340CF6255A7A2EC26D64.e.4054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="59491629089d393a55f71f5e4e348417", element="f.D57741530899A4AE49EFA4D4CCD13E2F.d.9DD19428765F340CF6255A7A2EC26D64.e.4132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="59491629089d393a55f71f5e4e348417", element="f.D57741530899A4AE49EFA4D4CCD13E2F.d.9DD19428765F340CF6255A7A2EC26D64.e.4211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="59491629089d393a55f71f5e4e348417", element="f.D57741530899A4AE49EFA4D4CCD13E2F.d.9DD19428765F340CF6255A7A2EC26D64.e.4305")>]

In [13]:
for i in url[0:4]: #lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-senior-data-scientist-reporting-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-6-to-7-years-220124502188
https://www.naukri.com/job-listings-data-scientist-marketing-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-4-to-6-years-240124501248
https://www.naukri.com/job-listings-data-scientist-ford-global-business-services-kolkata-mumbai-new-delhi-hyderabad-pune-chennai-bengaluru-3-to-6-years-291123502308
None

In [14]:
job_titles=[]

In [15]:
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in titles:
        job_titles.append(i.text)

In [16]:
len(job_title[:10])

10

In [17]:
job_titles[:10]

['Senior Data Scientist, Reporting',
 'Data Scientist, Marketing',
 'Data Scientist',
 'AI Data Scientist',
 'GenAI Data Scientist',
 'Data Scientist II',
 'NLP Data Scientist - Real World Data (RWD)',
 'Data Analytics-Corporate HR',
 'DS - NLP Expert',
 'Generative AI Data Scientist']

# Question-3

In [18]:
driver = webdriver.Chrome()

In [19]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [20]:
# entering designationn and location as required in the question-
designation = driver.find_element(By.XPATH, '//input[@type="text"]')

In [21]:
search_button = driver.find_element(By.XPATH,'//button[@type="submit"]')

In [22]:
designation.send_keys('iphone11 phone')
search_button.click()

In [23]:
ratings = []
review_summary =[]

In [34]:
# scraping rating from the given page
rating_tags=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[1]/div')
for i in rating_tags:
    rating=i.text
    ratings.append(rating)

In [35]:
# scraping full_review from the given page
full_review_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')

In [36]:
# Initialize an empty list to store reviews
full_review = [] 
# Iterate over the found elements and extract the text
for i in full_review_tags:
    review = i.text
    full_review.append(review)

In [37]:
print(len(ratings[:100]),len(full_review[:100]))

26 10

In [38]:
from time import sleep

In [39]:
products = []
for i in range(10):
    print('scraping page',i+1)
    product = driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
    products.extend(product)
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    sleep(3)

scraping page 1
scraping page 2
scraping page 3
scraping page 4
scraping page 5
scraping page 6
scraping page 7
scraping page 8
scraping page 9
scraping page 10

In [40]:
len(product)

24

In [41]:
import pandas as pd
df=pd.DataFrame({'ratings':rating[:100],'full_review':full_review[:100]})
df

  ratings                            full_review
0     4.6                     Highly recommended
1     4.6                       Perfect product!
2     4.6                              Must buy!
3     4.6                                Awesome
4     4.6                                Awesome
5     4.6                              Worthless
6     4.6  Good phone but not for the power user
7     4.6                              Brilliant
8     4.6                              Wonderful
9     4.6                          Great product

# Question-4

In [116]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sumit kaushik\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sumit kaushik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [117]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [118]:
# let's first connect to the web driver
driver = webdriver.Chrome()

In [119]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.flipkart.com/")

In [120]:
# finding element for job search bar
search_g = driver.find_element(By.XPATH,'//input[@type="text"]')
search_g

In [121]:
# write on search bar
search_g.send_keys('sneakers')

In [122]:
search_btn=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_btn

In [123]:
search_btn=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_btn.click()

In [124]:
B_name=[]
Price=[]
P_desc=[]

In [125]:
 for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [126]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [127]:
B_name[:100]

['RapidBox',
 'ATOM',
 'Deals4you',
 'URBANBOX',
 'RED TAPE',
 'Sparx',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'asian',
 'KILLER',
 'RED TAPE',
 'RapidBox',
 'ATOM',
 'ATOM',
 'Hida',
 'RED TAPE',
 'PUMA',
 'ATOM',
 'RED TAPE',
 'RapidBox',
 'RED TAPE',
 'Layasa',
 'New Balance',
 'REEBOK',
 'Abros',
 'RapidBox',
 'ADIDAS',
 'PUMA',
 'RED TAPE',
 'U.S. POLO ASSN.',
 'asian',
 'Robbie jones',
 'asian',
 'New Balance',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'ATOM',
 'Deals4you',
 'URBANBOX',
 'RED TAPE',
 'Sparx',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'asian',
 'KILLER',
 'RED TAPE',
 'RapidBox',
 'ATOM',
 'ATOM',
 'Hida',
 'RED TAPE',
 'PUMA',
 'ATOM',
 'RED TAPE',
 'RapidBox',
 'RED TAPE',
 'Layasa',
 'New Balance',
 'REEBOK',
 'Abros',
 'RapidBox',
 'ADIDAS',
 'PUMA',
 'RED TAPE',
 'U.S. POLO ASSN.',
 'asian',
 'Robbie jones',
 'asian',
 'New Balance',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'ATOM',
 'Deals4you',
 'URBANBOX',
 'RED TAPE',
 'Sparx',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'ATOM',
 'asian',
 'KILLER',
 'RED TAPE',
 'RapidBox',
 'ATOM',
 'ATOM',
 'Hida',
 'RED TAPE']

In [128]:
sneakers=pd.DataFrame({})
sneakers['Brand_name']=B_name[:100]
sneakers['P_price']=Price[:100]
sneakers['Pr_desc']=P_desc[:100]

In [129]:
sneakers

,Brand_name,P_price,Pr_desc
0,RapidBox,₹595₹99940% off,Sneakers For Men
1,ATOM,"₹1,264₹3,29561% off",Good Vibes Sneakers For Men
2,Deals4you,₹379₹99962% off,Sneakers For Women
3,URBANBOX,₹299₹99970% off,Trending Stylish Casual Outdoor Shoes Sneakers...
4,RED TAPE,"₹1,179₹5,89980% off",Casual Sneakers Shoes for Men | Soft Cushioned...
...,...,...,...
95,RapidBox,₹789₹94916% off,Casual Sneakers Shoes for Men | Soft Cushioned...
96,ATOM,"₹1,367₹3,49560% off",Sneakers For Men
97,ATOM,"₹1,094₹3,29566% off",Casual Sneaker Shoes for Women | Soft Cushione...
98,Hida,"₹1,367₹3,49560% off",Sneakers For Men
99,RED TAPE,"₹1,094₹3,29566% off",327 Sneakers For Women

# Qestion-2

In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sumit kaushik\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sumit kaushik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sumit kaushik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [7]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [8]:
# let's first connect to the web driver
driver = webdriver.Chrome()

In [9]:
#opening the flipkart page on automated chrome browser
driver.get("https://www.shine.com/")

In [14]:
# entering designationn and location as required in the question-

search_job=driver.find_element(By.XPATH,'//input[@type="text"]')
search_job

In [15]:
# write on search bar
search_job.send_keys('Data Analyst')

In [29]:
# finding element for job search bar
search_loc = driver.find_element(By.XPATH,'//input[@id="id_loc"]')
search_loc.send_keys("Bangalore")

In [30]:
search_btn= driver .find_element(By.XPATH,'//button[@type="submit"]')
search_btn

In [31]:
# clicking  using xpath function
search_btn=driver.find_element(By.XPATH,'//button[@type="submit"]')
search_btn.click()

In [32]:
#so let's extract all the tags having the job titles
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18724")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18763")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18806")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18843")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18890")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.18994")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19030")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19070")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19149")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19186")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19225")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19265")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19304")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="84ff9c835c581ad6e4975263402af416", element="f.E26F4DB24DBB4F1670A703E022F14038.d.4269EFECA6ACA8D404870E128F4CEAC9.e.19506")>]

In [33]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [36]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[:10]

# scraping job location from the given page 
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)    
job_location[:10]

# scraping company name from the given page 
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags: 
    company=i.text
    company_name.append(company) 
company_name[:10]

# scraping job experience from the given page 
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)     
experience_required[:10]

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '9 to 14 Yrs',
 '0 to 1 Yr',
 '12 to 22 Yrs',
 '5 to 8 Yrs',
 '12 to 22 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs']

In [37]:
print(len(job_title[:10]),len(job_location[:10]),len(company_name[:10]),len(experience_required[:10]))

10 10 10 10

In [38]:
import pandas as pd
df=pd.DataFrame({'Title':job_title[:10],'Location':job_location[:10],'Company_name':company_name[:10],'Experience':experience_required[:10]})
df

,Title,Location,Company_name,Experience
0,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
1,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst,Bangalore\n+12,millennium babycares private limite...,9 to 14 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
6,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
7,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
8,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
9,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs